


.app{
  display: grid;
  grid-template-columns: repeat(5, 0.5fr);
  gap: 2rem;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  width: 80%;
  margin: auto;
  
}





.img-main{
  max-height: 90%;
  max-width: 60%;
  
}

.imgMain-wrapper{
  margin-top: 60px;
  background-color: thistle;
  margin: 0;
  display: flex;
  justify-content: start;
  height: 70vh;
  width: 100;
  margin-bottom:30px;
  padding: 70px;
  position: relative;
}


.product-category{
  color: grey;
}
