.infoProduct-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: auto;
    margin-bottom: 30px;
    border-top: 1px solid #e9ecef;
    padding-top: 10px;
}   


.garbageButton-cart{
    cursor: pointer;
}

.infoProduct-wrapper > img {
    width: 10%;
}

.infoProduct-wrapper > button {
    width: 5%;
    height: 10%;
    background-color: transparent;
    border: none;
}

.infoProduct-wrapper > button>img {
    width: 100%;
}

.product{
    width: 20%;
    padding: 5px;
}

.products-quantity {
    width: 20%;
    padding: 10px;
    display: flex;
    align-items: center;
}
.products-quantity > button {
    width: 20%;
    height: 20%;
    border: none;
     cursor: pointer;
     margin-right: 10px;
}

.products-quantity > p {
    margin-right: 10px;
}

.price-average{
    text-align: center;
    width: 10%;
}

@media screen and (max-width : 768px) {
    .infoProduct-wrapper{
        flex-direction: column;
        width: 90%;
    }
    .infoProduct-wrapper > img {
        width: 120px;
        margin-right:10px ;

    }
    .infoProduct-wrapper > button {
        width: 10%;
        height: 20%;
    }
    .product{
        width: 50%;
        text-align: center;
    }
    .products-quantity {
        width: 30%;
    }
    .products-quantity > button {
        width: 30%;
        height: 30%;
    }
    .products-quantity > p {
        margin-right: 10px;
    }
    .price-average{
        width: 20%;
    }
}