header{
    background-color: #f8f9fa;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.totalPrice-wrapper{
   
   text-align: center;
    padding: 10px 0;
    border: 1px solid #e9ecef;
    width: 15%;
}

.main-cart {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.cartProduct-wrapper{
    width: 60%;
}