#shopping-title{
    width: 100%;
    font-weight: bold;
    text-align: center;
}
.totalPrice-wrapper{
   
   text-align: center;
    padding: 10px 0;
    border: 1px solid #e9ecef;
    max-width: 15%;
    width: 15%;
    height: 10%;
}

.main-cart {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    width: 100%;
}

.cartProduct-wrapper{
    width: 60%;
}

@media screen and (max-width: 768px) {
    #shopping-title{
        width: 100%;
        font-weight: bold;
        display: block;
    }
    .main-cart {
        flex-direction: column;
    }
    .cartProduct-wrapper{
        width: 100%;
    }
    .totalPrice-wrapper{
        max-width: 100%;
        width: 100%;
    }
    
}